  
<div class="page-header">
  <h3 class="page-title"> Registr   </h3>
 
</div>
<div class="row">
  <div class="col-3 mb-3">
    <div   class="card">
      <div  class="card-body p-3">
        <h4  class="card-title card-title-border">Paketlar</h4>
        <table  class="table">
          <tbody >
            <tr >
              <td > 
                Sotilgan paketlar
                </td>
                <td >
               <label  class="badge badge-warning w-100 p-2">3 000 ball</label>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  <div class="col-3 mb-3">
    <div   class="card">
      <div  class="card-body p-3">
        <h4  class="card-title card-title-border">Bonuslar</h4>
        <table  class="table">
          <tbody >
            <tr >
              <td > 
                Sotilgan paketlar
                </td>
                <td >
               <label  class="badge badge-warning w-100 p-2">3 000 ball</label>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  <div class="col-3 mb-3">
    <div   class="card">
      <div  class="card-body p-3">
        <h4  class="card-title card-title-border">Omborlar</h4>
        <table  class="table">
          <tbody >
            <tr >
              <td > 
                Sotilgan paketlar
                </td>
                <td >
               <label  class="badge badge-warning w-100 p-2">3 000 ball</label>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  <div class="col-3 mb-3">
    <div   class="card">
      <div  class="card-body p-3">
        <h4  class="card-title card-title-border">So'ralgan</h4>
        <table  class="table">
          <tbody >
            <tr >
              <td > 
                Sotilgan paketlar
                </td>
                <td >
               <label  class="badge badge-warning w-100 p-2">3 000 ball</label>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  <div class="col-md-12 grid-margin">
 
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Registratorlar</h4>
        <div class="row">
          <div class="col-lg-3  mb-3">
            <div class="registr-box   ">
              <div class="w-100  registr-box-add ">
                <div class="reg-add">
                  <p>+</p> 
                </div>
              </div> 
              <h2 class="w-100 text-center p-2">Yangi qo'shish</h2> 
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <div class="registr-box">
              <div class="row">
                <div class="col-4">
                  <img src="assets/img/team.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8 p-0">
                  <h3 class="m-0">Ismatov Xurshid</h3>
                  <p class="m-0"> ID: UZ110121255</p> 
                </div>
                <div class="col-12 py-3">
                    <p class="m-0 pb-2 reg-temcolor">Qo'shgan profillari</p>
                    <div class="team-regadd">
                      <div>
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                        <img src="assets/img/team.jpg" alt="">
                      </div> 
                    </div>
                    <p class="m-0 pb-2 pt-2 reg-temcolor">Faolligi <span class="  float-right">90%</span></p>
                    <div class="slider-routing">
                      <div class="skills routing-reg"> </div>
                    </div>
                </div>
               
              </div>    
            </div>
          </div> 
        </div>
        <div class="d-flex mt-4 flex-wrap">
          <p class="text-muted">Showing 1 to 10 of 57 entries</p>
          <nav class="ml-auto">
            <ul class="pagination separated pagination-info">
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div> 
    </div>
 
  </div>
 
</div>

 

<!-- modal -->


 

<!-- Modal -->
<div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-white" role="document">
    <div class="modal-content bg-white">
      <div class="modal-header">
        <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">So'ralgan mahsulotlar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-2">  
                  <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Ism</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="form-group  mb-2 ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Familya</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>  
                    <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Hudud</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Maqom</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Mahsulot nomi</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group  mb-2 ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Mahsulot soni</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                      <div class="form-group"> 
                      <button type="button" class="btn btn-info btn-fw m-3">Jo'natish</button>
                      <button type="button" class="btn btn-dark btn-fw m-3">O'chirish</button>
                    </div>    
      </div> 
    </div>
  </div>
</div>


<div class="modal fade  " id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-white" role="document">
    <div class="modal-content bg-white">
      <div class="modal-header">
        <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">So'ralgan mahsulotlar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-2">  
                  <div class="form-group mb-2  ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Ism</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Familya</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div>  
                    <div class="form-group  mb-2  ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Hudud</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group  mb-2 ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Maqom</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group  mb-2 ">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Mahsulot nomi</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                    <div class="form-group   mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Mahsulot soni</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </div> 
                      <div class="form-group"> 
                      <button type="button" class="btn btn-info btn-fw m-3">Jo'natish</button>
                      <button type="button" class="btn btn-dark btn-fw m-3">O'chirish</button>
                    </div>    
      </div> 
    </div>
  </div>
</div>