 <div class="page-header">
    <h3 class="page-title"> Jo'natilgan mahsulotlar   </h3>
  </div>
<h3 *ngIf = 'status'>Jo'natilgan maxsulotlar topilmadi</h3>
  <div class="row" *ngIf = '!status'>
    <div class="col-md-12 grid-margin">
      <div class="card mb-3">
        <div class="card-body">
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr>
                  <th class="font-weight-bold">ID</th>
                  <th class="font-weight-bold">Kimga</th>
                  <th class="font-weight-bold">Mahsulotlar nomi</th>
                  <th class="font-weight-bold">Mahsulotlar soni</th>
                  <th class="font-weight-bold">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = 'let request of products, let i =index'>
                    <td>{{i+1}}</td>
                  <td>
                    {{request.registerId}}
                    <!-- <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image"> -->
                </td>
                    <td>
                      <p *ngFor = 'let prod of request.products'>{{prod}}</p>
                    </td>
                    <td>
                      <p *ngFor = 'let price of request.quantity'>{{price.number}}</p>
                    </td>
                    <td>{{request.date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- Modal -->
<div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-white" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">Jo'natilgan mahsulotlar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pb-2">

                      <div class="form-group   ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Hudud</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="form-group    ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Mahsulot nomi</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="form-group    ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Mahsulot soni</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                        <div class="form-group">
                        <button type="button" class="btn btn-info btn-fw m-3">Jo'natish</button>
                        <button type="button" class="btn btn-dark btn-fw m-3">O'chirish</button>
                      </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade  " id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-white" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">Jo'natilgan mahsulotlarni o'chirish</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pb-2">


                        <div class="form-group">
                        <button type="button" class="btn btn-info btn-fw m-3">Ha</button>
                        <button type="button" class="btn btn-dark btn-fw m-3">Yo'q</button>
                      </div>
        </div>
      </div>
    </div>
  </div>
