<div class="row">

  <!-- News -->
  <div class="col-lg-3 col-md-4 col-sm-6" *ngFor = 'let new of news'>
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="{{new.image}}"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">{{new.nameUz}}</a></div>
                <div class="h6 m-0 text-color">{{new.price}} sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>

  <!-- End News -->

    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Kalsiy va Magniy</a></div>
                <div class="h6 m-0 text-color">76 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product2.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Kalsiy+Magniy+Yodli birikma</a></div>
                <div class="h6 m-0 text-color">84 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product3.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Siroplar</a></div>
                <div class="h6 m-0 text-color">80 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product4.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">ProMaz</a></div>
                <div class="h6 m-0 text-color">74 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product5.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">ProgressKey kremi</a></div>
                <div class="h6 m-0 text-color">80 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product6.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Sinkli birikma tabletkalar</a></div>
                <div class="h6 m-0 text-color">172 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/home/product7.jpg"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Temirli birikma tabletkalar</a></div>
                <div class="h6 m-0 text-color">172 000 so'mdan</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                </div>
            </div>
        </div>
    </div>
 
</div>
