<section class="binar" style="width: 100%; overflow-x: scroll;height: auto;">
    <div class="row" style="  max-width: 1800px;min-width: 1200px;"  >
        <div class="col-md-12 " >
          <div class="region region-content">
            <div id="block-system-main" class="block block-system clearfix">
              <div class="binary-genealogy-tree binary_tree_extended">
                <div class="binary-genealogy-level-0 clearfix">
                  <div class="no_padding parent-wrapper clearfix">
                    <div class="d-centere-item binary-level-width-100">
                      <!-- lider -->

                      <div class="d-item-root">
                        <div class="binary-d-single-item user-block user-0 border-none bg-white">
                          <div class="images_wrapper  ">
                            <div class="hover-class">
                              <div class="top-d-dv">
                                <table class="table table-borderless borderlessdv" >
                                 <tr>	<th>Name</th>			<td>user.fullName</td> </tr>
                                 <tr>   <th>Package	</th>		<td>Startup to Basic-500 BV</td> </tr>
                                 <tr>   <th>Rank </th>			<td>Director (22.00%)</td></tr>
                                 <tr>   <th>Reward Point</th>		<td>0.0000</td></tr>
                                 <tr>   <th>Location</th>		<td>New Delhi(08/11/2017)</td></tr>
                                 <tr>   <th>Sp. Name</th>		<td>abc Jaya</td></tr>
                               </table>
                             </div>
                           </div>
                           <a href="#" class=" ">
                            <div class="images-d-tree  ">
                              <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>


                    <div class="parent-wrapper clearfix">.

                      <!-- Glavni chap qo'l -->
                      <div class="d-left-item binary-level-width-50 main-d-child-50 ">
                        <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-25"></span>
                        <!-- chap qol -->
                        <div class="d-item-2-child-left  d-item-root">
                          <div class="binary-d-single-item user-block user-1 border-none bg-white">
                            <div class="images_wrapper"><a href="#">
                              <div class="images-d-tree">
                                <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                              </div>
                            </a></div>
                          </div>
                        </div>

                        <div class="parent-wrapper clearfix">

                          <div class="d-left-item binary-level-width-25">
                            <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                            <div class="d-item-2-child-left" id="child-line-1">
                              <div class="binary-d-single-item user-block bg-white" id="div-hide-1">
                                <div class="images_wrapper ">
                                  <a href="#">
                                    <div class="images-d-tree">
                                      <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>

                            <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                              <!-- chap qol -->
                              <div class="d-item-2-child-left  d-item-root">  </div>
                              <div class="parent-wrapper clearfix">
                                <div class="d-left-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-left" id="child-line-1">
                                    <div class="binary-d-single-item user-block bg-white" id="div-hide-1">
                                      <div class="images_wrapper ">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-right-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-right" id="child-line-2">
                                    <div class="binary-d-single-item user-block bg-white" id="div-hide-2">
                                      <div class="images_wrapper">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="d-right-item binary-level-width-25">
                            <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                            <div class="d-item-2-child-right" id="child-line-2">
                              <div class="binary-d-single-item user-block bg-white" id="div-hide-2">
                                <div class="images_wrapper">
                                  <a href="#">
                                    <div class="images-d-tree">
                                      <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                              <!-- chap qol -->
                              <div class="d-item-2-child-left  d-item-root">  </div>
                              <div class="parent-wrapper clearfix">
                                <div class="d-left-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-left" id="child-line-1">
                                    <div class="binary-d-single-item user-block bg-white" id="div-hide-1">
                                      <div class="images_wrapper ">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="d-right-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-right" id="child-line-2">
                                    <div class="binary-d-single-item user-block bg-white " id="div-hide-2">
                                      <div class="images_wrapper">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    <!-- Glavni o'ng qo'l -->

                      <div class="d-right-item binary-level-width-50">
                         <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-25"></span>
                        <div class="d-item-1-child-right d-item-root">
                          <div class="binary-d-single-item user-block bg-white user-2 border-none">
                            <div class="images_wrapper">
                              <a href="#">
                                <div class="images-d-tree">
                                  <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                </div>

                              </a>
                            </div>
                          </div>

                        </div>

                        <div class="parent-wrapper clearfix">
                          <div class="d-left-item binary-level-width-25"> <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                            <div class="d-item-2-child-left" id="child-line-3">
                              <div class="binary-d-single-item bg-white user-block" id="div-hide-3">
                                <div class="images_wrapper">
                                  <a href="#">
                                    <div class="images-d-tree">
                                      <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                    </div>

                                  </a>
                                </div>
                              </div>
                            </div>

                            <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                              <!-- chap qol -->
                              <div class="d-item-2-child-left  d-item-root">  </div>
                              <div class="parent-wrapper clearfix">
                                <div class="d-left-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-left" id="child-line-1">
                                    <div class="binary-d-single-item bg-white user-block" id="div-hide-1">
                                      <div class="images_wrapper ">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-right-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-right" id="child-line-2">
                                    <div class="binary-d-single-item bg-white user-block " id="div-hide-2">
                                      <div class="images_wrapper">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="d-right-item binary-level-width-25"> <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                            <div class="d-item-2-child-right" id="child-line-4">
                              <div class="binary-d-single-item  bg-white user-block" id="div-hide-4">
                                <div class="images_wrapper">
                                  <a href="#">
                                    <div class="images-d-tree">
                                      <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                    </div>

                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                              <!-- chap qol -->
                              <div class="d-item-2-child-left  d-item-root">  </div>
                              <div class="parent-wrapper clearfix">
                                <div class="d-left-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-left" id="child-line-1">
                                    <div class="binary-d-single-item bg-white user-block" id="div-hide-1">
                                      <div class="images_wrapper ">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                                    <!-- chap qol -->
                                    <div class="d-item-2-child-left  d-item-root">  </div>
                                    <div class="parent-wrapper clearfix">
                                      <div class="d-left-item binary-level-width-25">
                                        <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                        <div class="d-item-2-child-left" id="child-line-1">
                                          <div class="binary-d-single-item bg-white user-block" id="div-hide-1">
                                            <div class="images_wrapper ">
                                              <a href="#">
                                                <div class="images-d-tree">
                                                  <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="d-right-item binary-level-width-25">
                                        <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                        <div class="d-item-2-child-right" id="child-line-2">
                                          <div class="binary-d-single-item bg-white user-block " id="div-hide-2">
                                            <div class="images_wrapper">
                                              <a href="#">
                                                <div class="images-d-tree">
                                                  <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="d-right-item binary-level-width-25">
                                  <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                  <div class="d-item-2-child-right" id="child-line-2">
                                    <div class="binary-d-single-item bg-white user-block " id="div-hide-2">
                                      <div class="images_wrapper">
                                        <a href="#">
                                          <div class="images-d-tree">
                                            <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="d-left-item binary-level-width-100 main-d-child-50 ">
                                    <!-- chap qol -->
                                    <div class="d-item-2-child-left  d-item-root">  </div>
                                    <div class="parent-wrapper clearfix">
                                      <div class="d-left-item binary-level-width-25">
                                        <span class="binary-hr-line binar-hr-line-left binary-hr-line-width-12"></span>
                                        <div class="d-item-2-child-left" id="child-line-1">
                                          <div class="binary-d-single-item bg-white user-block" id="div-hide-1">
                                            <div class="images_wrapper ">
                                              <a href="#">
                                                <div class="images-d-tree">
                                                  <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="d-right-item binary-level-width-25">
                                        <span class="binary-hr-line binar-hr-line-right binary-hr-line-width-12"></span>
                                        <div class="d-item-2-child-right" id="child-line-2">
                                          <div class="binary-d-single-item bg-white user-block " id="div-hide-2">
                                            <div class="images_wrapper">
                                              <a href="#">
                                                <div class="images-d-tree">
                                                  <img class="profile-rounded-image-small"  src="assets/img/team.jpg" alt="business.admin" title="">
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>










                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.block -->
        </div>
      </div>
    </div>
</section>

