.product-but-tem{
    font-size: 15px ;color: #174A84;font-weight: 400;
}
.example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 8px;
  }
  
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  
  .mat-card + .mat-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }
  .card-title-border{
    border-left: 2px solid #FF9077;
    padding-left: 10px;
    color: #FF9077;
  }
  .register-order{
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(57,73,76,.35);
    padding: 20px;
    cursor: pointer;
    
    transition: 0.5s all;
  }
  .register-order:hover{
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
  }