<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card mb-3">
        <div class="card-body">  
                    <div class="d-sm-flex align-items-center mb-3">
                      <h4 class="card-title   card-title-border">Mahsulot so'rash</h4>
                      <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> </a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="register-order mb-3"  >
                            <h3 class="product-but-tem m-0">Mahsulotni tanlang</h3>
                            <mat-form-field class="w-100">
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <h3 class="product-but-tem  mb-3">Mahsulot sonini kiriting  </h3>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3 btn-inverse-success  ">25</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">+</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">-</button>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="register-order mb-3"  >
                            <h3 class="product-but-tem m-0">Mahsulotni tanlang</h3>
                            <mat-form-field class="w-100">
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <h3 class="product-but-tem  mb-3">Mahsulot sonini kiriting  </h3>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3 btn-inverse-success  ">25</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">+</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">-</button>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="register-order mb-3"  >
                            <h3 class="product-but-tem m-0">Mahsulotni tanlang</h3>
                            <mat-form-field class="w-100">
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <h3 class="product-but-tem  mb-3">Mahsulot sonini kiriting  </h3>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3 btn-inverse-success  ">25</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">+</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">-</button>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="register-order mb-3"  >
                            <h3 class="product-but-tem m-0">Mahsulotni tanlang</h3>
                            <mat-form-field class="w-100">
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <h3 class="product-but-tem  mb-3">Mahsulot sonini kiriting  </h3>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3 btn-inverse-success  ">25</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">+</button>
                              <button  type="button" data-toggle="modal" data-target="#exampleModal" class="btn mr-3  btn-inverse-warning  ">-</button>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class=" my-3"  >
                            <h4 class="card-title  card-title-border">So'rovchi ma'lumotlar</h4>
                              <p>Hudud: <span>Surxondaryo</span></p>
                              <p>Ombor: <span>Surxondaryo</span></p>
                              <p>Hududiy boshqaruvchi: <span>Surxondaryo</span></p>
                              <p>Yetkazib berish muddati: <span>Surxondaryo</span></p> 
                               </div>
                        </div>
                        <div class="col-md-4">
                          <div class=" my-3 "  >
                            <h4 class="card-title  card-title-border">Jo'natuvchi ma'lumotlar</h4>
 
                            <p>Hudud: <span>Surxondaryo</span></p>
                            <p>Ombor: <span>Surxondaryo</span></p>
                            <p>Hududiy boshqaruvchi: <span>Surxondaryo</span></p>
                            <p>Yetkazib berish muddati: <span>Surxondaryo</span></p> </div>
                        </div>                        
                        <div class="col-md-4">
                          <div class=" my-3 "  >  
                              <button  type="button"  class="btn mr-3 btn-primary w-100  mb-3">Jami: 85 ming so'm</button>
                              <button  type="button"   class="btn mr-3  btn-info w-100 mb-3">Tozalash</button>
                              <button  type="button"   class="btn mr-3  btn-success w-100 mb-3">Jo'natish</button>
                          </div>
                        </div>
                    </div>
        </div>
      </div>
    </div>
  </div>
