<h3>WareHouse add component</h3>

<form [formGroup]='form' (submit)="save()">
  <input type="text" formControlName='name' > <br>
  <input type="text" formControlName='products' > <br>
  <input type="text" formControlName='products' > <br>
  <button type='submit'>Save</button>
</form>


<!--
  <mat-checkbox color='primary' [(ngModel)]="first" (change)=test()>First</mat-checkbox> <br>
  <mat-checkbox color='primary' [(ngModel)]="second" >Second</mat-checkbox> <br>
  <mat-checkbox color='primary' [(ngModel)]="third" >Third</mat-checkbox> <br>
 -->
