<form  >

  <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
  
            <div class="card-body row">
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Hududi</span>
                  </div>
                  <select   class="form-control"  >
                      <option  > fghgfhg</option>
                    </select>
                  </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ombor</span>
                  </div>
                  <select   class="form-control"  >
                      <option  >fddgd</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Login</span>
                  </div>
                  <input type="text"   class="form-control" placeholder="Username"  >
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Full Name</span>
                  </div>
                  <input type="text"  class="form-control" placeholder="Username"  >
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                  </div>
                  <input type="text" class="form-control" formControlName='password' placeholder="Username"  >
                </div>
              </div>
              <div class="form-group col-md-4">
                  <div class="input-group">
  
                    <input type="file"  > <br>
                    <div class="image-preview"  >
                      <br><br><img width="300px"  > <br><br><br>
                    </div>
   
                 </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-info btn-fw m-3">Saqlash</button>
                </div>
  
            </div>
  
  
          </div>
      </div>
    </div>
  
  
  </form>
  

<!--
  <mat-checkbox color='primary' [(ngModel)]="first" (change)=test()>First</mat-checkbox> <br>
  <mat-checkbox color='primary' [(ngModel)]="second" >Second</mat-checkbox> <br>
  <mat-checkbox color='primary' [(ngModel)]="third" >Third</mat-checkbox> <br>
 -->
