<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
          <div class="col-lg-4 mx-auto">

            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
               <h2 class="text-center">Ro'yxatdan o'ting !</h2>
              </div>
              <form  >
                  <div class="row row10">
                      <div  class="col-12 mb-3">
                          <div  class="group">
                              <input  type="text" name="name" placeholder="Ism*" required="">
                            </div>
                        </div>
                        <div  class="col-12  mb-3">
                            <div  class="group">
                                <input   type="text" name="phone" placeholder="Telefon*" required="">
                            </div>
                        </div>
                        <div  class="col-12  mb-3">
                            <div  class="group">
                                <input   type="text" name="phone" placeholder="Email*" required="">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check">
                                <label class="form-check-label text-muted">
                                <input type="checkbox" class="form-check-input"> I agree to all Terms &amp; Conditions <i class="input-helper"></i></label>
                            </div>
                        </div>
                        <div   class="col-12">
                            <div  class="group text-center">
                                <button class="myBtn default br">Registratsiyadan o'tish
                                    <i   class="fa fa-telegram"></i>
                                </button>
                            </div>
                        </div>
                    </div>
 
                    <div class="text-center mt-4 font-weight-light"> Already have an account?
                         <a href="login.html" class="text-primary">Login</a>
                    </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>