.table th img, .table td img {
    width: auto;
    height: 28px;
    border-radius:0;
}
.table td{
    color:#174A84 ;
    font-weight: 600;
    letter-spacing: 1px;
}
.badge {
    background-color: #FF9077;
    color: #fff; 
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
}
.card-title{
    color: #FF9077;
}