.sm-img {
  height: 30px !important;
  width: 30px !important;
} 
.rad-page-title {
  margin-bottom: 20px;
  text-shadow: 1px 4px 6px #c6c6c6, 0 0 0 #000, 1px 4px 6px #c6c6c6;
}
.rad-page-title span {
  font-size: 22px;
  font-weight: 500;
  display: block;
}
.rad-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10000;
  text-align: center;
}
.rad-navigation ul {
  margin-bottom: 0;
}
.rad-logo-hidden {
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
  color: #222533;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.links {
  margin-right: 10px;
  position: relative;
}
.links > li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}
.rad-dropmenu-item.active {
  display: block;
  -webkit-animation: flipInX 1s ease;
}
.lg-text {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.sm-text {
  font-size: 11px;
  color: #c6c6c6;
}
.md-text {
  font-size: 12px;
  color: #c6c6c6;
}
.rad-notification-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
}
.rad-notification-item:hover {
  background: #F5F5F5;
}
.rad-notification-item .rad-notification-content {
  color: #404040;
} 
.rad-notification-body {
  color: black;
  vertical-align: middle;
  margin-left: 30px;
} 
.rad-logo-container {
  width: 225px;
  text-align: center;
  height: 50px;
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
} 
.rad-top-nav-container {
  float: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
} 
.rad-toggle-btn,
.rad-logo {
  text-decoration: none;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
} 
.rad-logo i {
  padding-top: 2px;
  vertical-align: middle;
  margin-right: 10px;
} 
.rad-toggle-btn:hover {
  background: #f9f9f9;
} 
.rad-menu-item {
  position: relative;
  padding: 0 5px;
  line-height: 30px;
  height: 30px;
  color: #89949B;
  z-index: 5;
  display: inline-block;
} 
.rad-badge {
  height: 20px;
  color: white;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
} 
.rad-menu-badge {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  top: -10px;
  z-index: 1;
} 
.sm-menu {
  min-width: 150px !important;
}
.sm-menu > li {
  padding: 10px;
  text-align: left;
}
.sm-menu > li i {
  margin: 0 10px 0 0;
}
.sm-menu > li > a {
  padding: 10px;
} 
.rad-dropmenu-item {
  position: absolute;
  right: -6px;
  top: 45px;
  min-width: 250px;
  background: white;
  border: 1px solid #BDBDBD;
  border-top: 5px solid #515d6e;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}
.rad-dropmenu-item:before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #515d6e transparent;
  top: -14px;
  right: 8px;
}

.rad-dropmenu-item.rad-settings {
  right: 0 !important;
  left: auto !important;
}
.rad-dropmenu-item.rad-settings:before {
  right: 5px !important;
  left: auto !important;
}
.rad-dropmenu-item.rad-settings > .rad-notification-item:hover {
  background: #fff !important;
}
.rad-dropmenu-item.rad-settings > .rad-notification-item i {
  font-size: 24px;
}
.rad-dropmenu-footer,
.rad-dropmenu-header {
  display: block !important;
  background: #CFD8DC;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 !important;
  padding: 6px;
  text-align: center;
}
.rad-dropmenu-footer > a,
.rad-dropmenu-header > a {
  color: white;
  line-height: 12px;
  text-decoration: none;
}

.rad-dropmenu-header {
  border-bottom: 1px solid #CFD8DC;
}

.rad-dropmenu-footer {
  border-top: 1px solid #CFD8DC;
}

.rad-chk-pin {
  margin: 0 !important;
}
.rad-chk-pin span {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 4px;
  background: crimson;
  border: 1px solid #f6f6f6;
}
.rad-chk-pin span:after {
  content: "";
  position: absolute;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: -1px;
  left: 0px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.rad-chk-pin input {
  display: none;
}
.rad-chk-pin input:checked + span {
  background: #23AE89;
}
.rad-chk-pin input:checked + span:after {
  left: 19px;
}
.hide {
  display: none;
}
.rad-option-selected {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.rad-color-swatch {
  display: table;
  width: 90px;
  height: 25px;
  border-radius: 4px;
}
.rad-color-swatch .colors {
  width: 25px;
  height: 25px;
  display: table-cell;
  cursor: pointer;
}
.rad-color-swatch .colors input[type="radio"] {
  display: none;
}
.rad-color-swatch .colors:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rad-color-swatch .colors:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rad-sidebar {
  z-index: 9999;
  position: fixed;
  /* font-weight: 600; */
  width: 225px;
  height: 100vh;
  overflow: hidden;
  top: 50px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: rgb(167,32,181);
  background: linear-gradient(180deg, rgba(167,32,181,1) 21%, rgba(37,75,240,1) 100%);
}
.rad-sidebar li:hover {
  background: #103C6E;
}
 .li-active{
  background: #103C6E;
 }
.rad-txt-primary {
  color: #1C7EBB;
}

.rad-bg-primary {
  background: #1C7EBB;
}
.rad-txt-success {
  color: #23AE89;
}
.rad-bg-success {
  background: #23AE89;
}
.rad-txt-danger {
  color: #E94B3B;
}
.rad-bg-danger {
  background: #E94B3B;
}
.rad-txt-warning {
  color: #F98E33;
}
.rad-bg-warning {
  background: #F98E33;
}
.rad-txt-violet {
  color: #6A55C2;
}
.rad-bg-violet {
  background: #6A55C2;
}
.rad-logo-container.rad-nav-min {
  -webkit-transform: translate3d(-180px, 0, 0);
          transform: translate3d(-180px, 0, 0);
}
.rad-logo-container.rad-nav-min .rad-logo {
  opacity: 0;
}
.rad-logo-container.rad-nav-min + .rad-logo-hidden {
  opacity: 1;
  visibility: visible;
}
.rad-sidebar.rad-nav-min {
  width: 0px !important;
}
.rad-sidebar.rad-nav-min .rad-sidebar-item {
  opacity: 0;
  visibility: hidden;
  transition: all .1s linear;
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate(-200px);
}
.rad-body-wrapper {
  position: absolute;
  left: 230px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.rad-body-wrapper.rad-nav-min {
  left: 0px;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}
@media screen and (max-width: 450px) {
  .rad-info-box i {
    opacity: .3;
  }
}
@media screen and (min-width: 850px) {
  .rad-logo-container {
    height: 75px;
  }
  .rad-logo-container .rad-logo {
    line-height: 75px;
  }
  .rad-logo-container .rad-toggle-btn {
    line-height: 75px;
    height: auto;
  }
  .rad-top-nav-container {
    padding: 10px;
  }
  .rad-sidebar {
    top: 75px;
  }
.rad-sidebar li{
  font-size: 16px ;
  padding: 10px ;
}
.rad-sidebar li a{
  color: #fff;
}
  .rad-body-wrapper {
    top: 100px;
  }
}
@media screen and (max-width: 850px) {
 
  .rad-navigation {
    height: 100px;
  }
  .rad-logo-container.rad-nav-min {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: transparent;
  }
  .rad-logo-container.rad-nav-min .rad-logo {
    opacity: 1;
  }
  .rad-logo-container.rad-nav-min + .rad-logo-hidden {
    display: none;
  }
  .rad-logo-container {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
  }
  .rad-top-nav-container {
    display: block;
    float: none;
    height: 50px;
    background: white;
  }
  .rad-top-nav-container .links > li > a {
    font-size: 12px;
  }
  .rad-menu-badge {
    font-size: 10px;
    min-width: 15px;
    min-height: 15px;
    line-height: 15px;
  }
  .rad-sidebar {
    top: 100px;
  }
  .rad-sidebar.rad-nav-min {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
  .rad-body-wrapper {
    top: 125px;
    position: relative;
  }
  .rad-body-wrapper.rad-nav-min {
    left: 0px;
  }
} 
 
 
.rad-info-box {
  margin-bottom: 16px;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important;
}

.rad-info-box i {
  display: block;
  background-clip: padding-box;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4.4em;
  position: absolute;
}

.rad-info-box .value,
.rad-info-box .heading {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  z-index: 10;
}
.rad-info-box .heading {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
.rad-info-box .value {
  font-size: 2.1em;
  font-weight: 600;
  margin-top: 5px;
} 
.rad-list-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}  
.brand-icon {
  font-size: 22px;
  height: 50px;
  display: inline-block;
  float: left ;
  width: 50px;
  background-color: crimson;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 700;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin-left: -230px;
  display: none;
} 
 

 