<div class="row">
  <div class="col-lg-4 mb-3">
    <div class="registr-box-client bg-white">
      <div class="row">
        <div class="col-12  ">
          <h3 class="m-0 font-weight-bold border-bottom ">Lider</h3>
        </div>
        <div class="col-12 py-3">
          <p class="m-0 pb-2 reg-temcolor">Barchasi: </p>
          <div class="mb-3">
            <img class="menu-icon   pr-3" src="../../../assets/img/user/1.svg" alt="">
            <span class="leder-boxa">{{liders}}</span>
          </div>
          <a href=" " class="text-primary">
            <p class="m-0 pb-2 pt-2  ">
              <i class=" icon-speedometer"></i> Barchasi haqda bilish </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <div class="registr-box-client bg-white">
      <div class="row">
        <div class="col-12  ">
          <h3 class="m-0 font-weight-bold border-bottom">Konsollar</h3>
        </div>
        <div class="col-12 py-3">
          <p class="m-0 pb-2 reg-temcolor">Barchasi: </p>
          <div class="mb-3">
            <img class="menu-icon  pr-3  " src="../../../assets/img/user/2.svg" alt="">
            <span class="leder-boxa">{{consols}}</span>
          </div>
          <a href=" " class="text-primary">
            <p class="m-0 pb-2 pt-2  ">
              <i class=" icon-speedometer"></i> Barchasi haqda bilish </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <div class="registr-box-client bg-white">
      <div class="row">
        <div class="col-12  ">
          <h3 class="m-0 font-weight-bold border-bottom">Iste'molchilar</h3>
        </div>
        <div class="col-12 py-3">
          <p class="m-0 pb-2 reg-temcolor">Barchasi: </p>
          <div class="mb-3">
            <img class="menu-icon pr-3  " src="../../../assets/img/user/3.svg" alt="">
            <span class="leder-boxa">{{cunsomers}}</span>
          </div>
          <a href=" " class="text-primary">
            <p class="m-0 pb-2 pt-2  ">
              <i class=" icon-speedometer"></i> Barchasi haqda bilish </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card mb-3">
      <div class="card-body">
        <div class="table-responsive border rounded p-1">
          <table class="table">
            <thead>
              <tr>
                <th class="font-weight-bold">
                  <Fieldset>Xaridorlar</Fieldset>
                </th>
                <th class="font-weight-bold">ID</th>
                <th class="font-weight-bold">1-Balance</th>
                <th class="font-weight-bold">User Type</th>
                <th class="font-weight-bold">Tel Number</th>
                <th class="font-weight-bold">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let user of users'>
                <td>
                  <img class="img-sm rounded-circle" src="{{user.image}}"
                    alt="profile image">
                  {{user.fullName}}
                </td>
                <td>{{user.login}}</td>
                <td>{{user.firstBalance}} so'm</td>
                <td>{{user.type}}</td>
                <td>{{user.telNumber}}</td>
                <td>{{user.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex mt-4 flex-wrap">
          <p class="text-muted">Showing 1 to 10 of 57 entries</p>
          <nav class="ml-auto">
            <ul class="pagination separated pagination-info">
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>
