
      <div class="page-header">
        <h2 class="page-title"> Mening Ma'lumotlarim </h2>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body row">
                <div class="form-group col-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Login</span>
                    </div>
                    <input type="text" class="form-control" value="{{user.login}}" placeholder="{{user.login}}" disabled aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Ism</span>
                    </div>
                    <input type="text" class="form-control" #fullName value="{{user.fullName}}" placeholder="{{user.fullName}}" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Parol</span>
                    </div>
                    <input type="text" class="form-control" #newPassword placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body row">


                <h2 class="page-title w-100 mx-3">Xavfsizlik</h2>
                <div class="form-group">
                  <button type="button" class="btn btn-info btn-fw m-3" (click) = 'updateInformation(fullName.value, newPassword.value)'>Ma'lumotlarni o'zgartirish</button>
                  <button type="button" class="btn btn-dark btn-fw m-3">Accountni o'chirish</button>
                </div>
              </div>
            </div>
        </div>
      </div>
