<form [formGroup]='form' (submit)="save()">

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">

          <div class="card-body row">
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Hududi</span>
                </div>
                <select formControlName='filialId' class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor = 'let filial of filials' value='{{filial._id}}'>{{filial.name}}</option>
                  </select>
                </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ombor</span>
                </div>
                <select formControlName='warehouseId' class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor = 'let house of wareHouses' value='{{house._id}}'>{{house.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Login</span>
                </div>
                <input type="text" formControlName='login' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Full Name</span>
                </div>
                <input type="text" formControlName='fullName' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Password</span>
                </div>
                <input type="text" class="form-control" formControlName='password' placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group col-md-4">
                <div class="input-group">

                  <input type="file" name='image' (change)="onInputChange($event)"> <br>
                  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                    <br><br><img width="300px" [src]="imagePreview" [alt]="form.value.image"> <br><br><br>
                  </div>

                  <!-- <div class="custom-file">
                    <label class="custom-file-label " for="customFile">Choose file</label>
                    <input type="file" formControlName='image'  class="custom-file-input" id="customFile">
                  </div> -->
               </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-fw m-3">Saqlash</button>
              </div>

          </div>


        </div>
    </div>
  </div>


</form>
