<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Transfer Amallar</h4>
          <p class="card-description"> Use th class to display a series of labels, form controls, and buttons on a single horizontal row </p>
          <button type="submit" class="btn  m-2 btn-info" routerLink='/user/transfer'>Transfer qilish</button>
         <button type="submit" class="btn  m-2 btn-info" routerLink='transfer-history' >Transfer Tarixi</button>
          <!-- <button type="submit" class="btn  m-2 btn-info" routerLink='product-buy'>Mahsulotni sotib olish</button> -->
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

