<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card mb-3">
          <div class="card-body row">
              <div class="col-12">
                <h4 class="card-title card-title-border mb-4">HUDUDLAR</h4>
              </div>
             
              <div class="form-group col-md-6 ">
                <div class="  row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Hududlar soni (14 ta)</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                    </div>
                    <div class="col-3">
                        <div class=" ">
                            <span class="input-group-text  "> + </span>
                          </div>
                    </div>
                    </div>
              </div>
              <div class="form-group col-md-6 ">
                <div class="  row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Tumanlar soni (187 ta)</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                    </div>
                    <div class="col-3">
                        <div class=" ">
                            <span class="input-group-text  "> + </span>
                          </div>
                    </div>
 
                    </div>
              </div>

              <div class="col-12">
                <h4 class="card-title card-title-border my-4">SAYT UCHUN MA'LUMOT</h4>
              </div>
              <div class="form-group col-md-4 ">
                <div class="  row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Mahsulot turlari (10 ta)</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                
                    </div>
                    <div class="col-3">
                        <div class=" ">
                            <span class="input-group-text  "> + </span>
                          </div>
                    </div>
 
                    </div>
              </div>
              <div class="form-group col-md-4 ">
                <div class="  row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Yangiliklar (1 ta)</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                
                    </div>
                    <div class="col-3">
                        <div class="  ">
                            <span class="input-group-text  "> + </span>
                          </div>
                    </div> 
                    </div>
              </div>
              <div class="form-group col-md-4 ">
                <div class="  row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Galareyadagi rasmlar (5 ta)</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                
                    </div>
                    <div class="col-3">
                        <div class=" ">
                            <span class="input-group-text  "> + </span>
                          </div>
                    </div>
 
                    </div>
              </div> 
              <div class="col-12">
                <h4 class="card-title card-title-border my-4">XAVFSIZLIK</h4>
              </div> 
              <div class="form-group"> 
                <button type="button" class="btn btn-info btn-fw m-3">Parolni o'zgartirish</button> 
              </div>

          </div> 
        </div>
      </div> 
      
  </div> 
   
   
  
 

   
 