 
   
  
  <div class="row">
    <div class="col-md-12 grid-margin">
   
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title card-title-border">Ro'yxatdan o'tkazish</h4>
          <div class="table-responsive border rounded mb-4 ">
            <table class="table">
              <thead style="background-color: #DFFFF6;text-transform: uppercase;font-weight: bold;">
                <tr  >
                  <th class="font-weight-bold"><Fieldset>F.I.SH</Fieldset></th>
                  <th class="font-weight-bold">Xaridorlar</th>
                  <th class="font-weight-bold">Paket</th>
                  <th class="font-weight-bold">Bonus</th> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                    Almatov Akmal Baxtiyor o'g'li
                </td> 
                    <td>UZ 112255</td> 
                    <td>252</td>
                    <td>22</td> 
                </tr>
 
  
              </tbody>
            </table>
          </div> 
 
 
 
                    <div class="d-sm-flex align-items-center mb-3">
                      <h4 class="card-title  my-4 card-title-border">Hududiy Registratorlar</h4>
                      <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> </a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="product-but-tem m-0"> Viloyatni tanlang</h3>
                            <mat-form-field class="w-100"> 
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h3 class="product-but-tem m-0" >Tumanni tanlang</h3>
                            <mat-form-field class="w-100"> 
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div> 
                    </div> 
 
        
          
          <div class="d-sm-flex align-items-center my-4">
            <h4 class="card-title mb-sm-0 card-title-border">Yunusobod tumani</h4>
            <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> </a>
          </div>
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr>
                  <th class="font-weight-bold"><Fieldset>F.I.SH</Fieldset></th>
                  <th class="font-weight-bold">ID</th>
                  <th class="font-weight-bold">A'zolar</th>
                  <th class="font-weight-bold">Onlayn</th>
                  <th class="font-weight-bold">Ballar</th> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                    Almatov Akmal Baxtiyor o'g'li
                </td> 
                    <td>UZ 112255</td> 
                    <td>252</td>
                    <td>22</td>
                    <td>222.33</td> 
                </tr>
                <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
                  <tr>
                    <td>
                      <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
                      Almatov Akmal Baxtiyor o'g'li
                  </td> 
                      <td>UZ 112255</td> 
                      <td>252</td>
                      <td>22</td>
                      <td>222.33</td> 
                  </tr>
  
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div> 
      </div>
 
    </div>
  </div>