
<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Inline forms</h4>
          <p class="card-description"> Use th class to display a series of labels, form controls, and buttons on a single horizontal row </p>
          <form class="form-inline">
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text bg-danger text-white font-weight-semibold">Kimga ? </div>
              </div>
              <select class="form-control" name="" id="" #to>
                <option *ngFor = 'let user of users' value="{{user.login}}" >{{user.login}}</option>
              </select>
              <!-- <input type="text" class="form-control" #to id="inlineFormInputGroupUsername2" placeholder="UZ00000001"> -->
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text bg-primary text-white font-weight-semibold">Nechi ball ? </div>
              </div>
              <input type="text" class="form-control" #howMuch id="inlineFormInputGroupUsername2" placeholder="100">
            </div>
            <button type="submit" (click) = 'sendTransfer(to.value, howMuch.value)' class="btn  mb-2 btn-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
    </div>

