<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center mb-4">
            <h4 class="card-title mb-sm-0">Mahsulot qo'shish</h4>
          </div>

          <form >
            <div class="row row10">
              <div class="col-12 ">
                 <div class="group">
                    <input type="text" formControlName = "nameUz" name="name" placeholder="Mahsulot nomini kiriting UZ" required="">
                 </div>
              </div>
              <div class="col-12 ">
                <div class="group">
                   <input type="text"  formControlName = "nameRu" name="name" placeholder="Mahsulot nomini kiriting RU"  required="">
                </div>
             </div>
             <div class="col-12 ">
              <div class="group">
                 <input type="text"  formControlName = "nameRu" name="name" placeholder="Mahsulot nomini kiriting EN" required="">
              </div>
           </div>
              <div class="col-12  ">
                 <div class="group">
                    <input type="text" formControlName="descriptionUz" name="phone" placeholder="descriptionUz" required="">
                 </div>
              </div>
              <div class="col-12  ">
                <div class="group">
                   <input type="text" formControlName="descriptionRu" name="phone" placeholder="descriptionRU" required="">
                </div>
             </div>
             <div class="col-12  ">
              <div class="group">
                 <input type="text" formControlName="descriptionEn" name="phone" placeholder="descriptionEn" required="">
              </div>
           </div>
              <div class="col-12  ">
                <div class="group">
                   <input type="text" formControlName="category" name="phone" placeholder="Category" required="">
                </div>
             </div>
             <div class="col-12  ">
              <div class="group">
                 <input type="number" formControlName="quantity" name="phone" placeholder="quantity" required="">
              </div>
           </div>
           <div class="col-12  ">
            <div class="group">
               <input type="number" formControlName="price" name="phone" placeholder="Price" required="">
            </div>
         </div>
             <div class="col-12  ">
                <input type="file" name='image' (change)="onInputChange($event)"> <br>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                  <br><br><img width="300px" [src]="imagePreview" [alt]="form.value.image"> <br><br><br>
                </div>


           </div>
              <div class="col-12">
                 <div class="group">
                    <textarea name="message" formControlName="configuration" rows="5" placeholder="Configuration" required=""></textarea>
                 </div>
              </div>
              <div class="col-12">
                 <div class="group text-center">
                    <button type="submit" class="myBtn default br ">Xabarni saqlash  </button>
                 </div>
              </div>
           </div>
           </form>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center mb-4">
            <h4 class="card-title mb-sm-0">Mahsulotlar jadvali</h4>
          </div>
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr>
                  <th class="font-weight-bold">Rasmi</th>
                  <th class="font-weight-bold">Mahsulot nomi</th>
                  <th class="font-weight-bold">Narxi</th>
                  <th class="font-weight-bold">Kategoriyasi</th>
                  <th class="font-weight-bold">Mahsulot haqda</th>
                  <th class="font-weight-bold">O'chirish</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products, let i=index">
                  <td><img class="img-sm rounded-circle" src="{{product.image}}" alt="profile image">   </td>
                  <td>{{product.nameUz}}</td>
                  <td>  {{product.price}} so'm</td>
                  <td>{{product.categoryId}}</td>
                  <td>{{product.descriptionUz}}</td>
                  <td>{{i}}</td>
                  <td>
                    <button _ngcontent-tqa-c102="" type="button" data-toggle="modal" data-target="#exampleModall" class="btn btn-dark btn-fw ">O'chirish</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
