 
      <div class="page-header">
        <h2 class="page-title"> Umumiy eslatmalar </h2>
 
      </div>
      <div class="row">
 
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Top aligned media</h4>
              <div class="media">
                <i class="icon-globe icon-md text-info d-flex align-self-center mr-3"></i>
                <div class="media-body">
                  <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Center aligned media</h4>
              <div class="media">
                <i class="icon-globe icon-md text-info d-flex align-self-center mr-3"></i>
                <div class="media-body">
                  <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Bottom aligned media</h4>
              <div class="media">
                <i class="icon-globe icon-md text-info d-flex align-self-center mr-3"></i>
                <div class="media-body">
                  <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-6 d-flex align-items-stretch"> 
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Paragraph</h4>
                  <p class="card-description"> Write text in  tag </p>
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley not only five centuries, </p>
                </div>
              </div> 
        </div>
        <div class="col-md-6 d-flex align-items-stretch"> 
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Paragraph</h4>
              <p class="card-description"> Write text in  tag </p>
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley not only five centuries, </p>
            </div>
          </div> 
    </div> 
      </div> 