<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card mb-3">
          <div class="card-body row">
   
  
              <div class="col-12">
                <h4 class="card-title card-title-border my-3"> SHAXSIY MA'LUMOTLAR</h4>
              </div>
             
            <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend  ">
                    <span class="input-group-text bg-success">Ism</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">Familya</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">Sharif</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
   
              <div class="col-12">
                <h4 class="card-title card-title-border my-3">KONTAKT MA'LUMOTLAR</h4>
              </div>
             
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">TELEFON</span>
                  </div>
                  <input type="text" class="form-control" placeholder="+998 (71) 200 00 00" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">EMAIL</span>
                  </div>
                  <input type="text" class="form-control" placeholder="aaa@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <hr>
              <div class="col-12">
                <h4 class="card-title card-title-border my-3">AUTENTIFIKATSIYA</h4>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">ID</span>
                  </div>
                  <input type="text" class="form-control" placeholder="aaa@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">LOGIN</span>
                  </div>
                  <input type="text" class="form-control" placeholder="aaa@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success">PAROL</span>
                  </div>
                  <input type="text" class="form-control" placeholder="aaa@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
   
   
                            <div class="form-group"> 
                <button type="button" class="btn btn-info btn-fw m-3">Saqlash</button>
                <button type="button" class="btn btn-dark btn-fw m-3">O'chirish</button>
              </div>
  
          </div> 
        </div>
      </div> 
      
  </div> 
   
   
  
  
  <div class="row">
    <div class="col-md-12 grid-margin">
   
      <div class="card mb-3">
        <div class="card-body">  
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr> 
                  <th class="font-weight-bold">ID</th> 
                  <th class="font-weight-bold">Mahsulotlar</th>
                  <th class="font-weight-bold">Mahsulot soni</th>
                  <th class="font-weight-bold">Mahsulot narxi</th>
                  <th class="font-weight-bold">Summa</th>
                  <th class="font-weight-bold">Qo'shish</th> 
                  <th class="font-weight-bold">O'chirish</th>
  
               
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td> 
                  <td>
                    Sirob Progresskey
               
                </td> 
                    <td>20</td> 
                    <td>300 b </td>
                    <td>300 000 so'm </td>
                    <td> <button type="button" class="btn btn-inverse-success btn-fw" data-toggle="modal" data-target="#exampleModal">Qo'shish</button></td>
                    <td><button type="button" class="btn btn-dark btn-fw" data-toggle="modal" data-target="#exampleModal-2">O'chirish</button></td> 
                </tr>
  
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div> 
        </div> 
      </div>
  
    </div>
  
  
  </div>
  
   
  