 
  
  
  
  
  
 <div class="page-header">
    <h3 class="page-title"> So'ralgan mahsulotlar   </h3> 
 
  </div>
  
  <div class="row">
    <div class="col-md-12 grid-margin">
   
      <div class="card mb-3">
        <div class="card-body">  
          <div class="table-responsive border rounded p-1">
            <table class="table">
              <thead>
                <tr> 
                  <th class="font-weight-bold">ID</th> 
                  <th class="font-weight-bold">Rasm</th>
                  <th class="font-weight-bold">Mahsulot nomi</th>
                  <th class="font-weight-bold">Mahsulot narxi</th>
                  <th class="font-weight-bold">Qo'shish</th> 
                  <th class="font-weight-bold">O'chirish</th>

               
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td> 
                  <td>
                    <img class="img-sm rounded-circle" src="../../../assets/user/images/faces/face1.jpg" alt="profile image">
               
                </td> 
                    <td>Sirop</td> 
                    <td>252 000 000 </td>
                    <td> <button type="button" class="btn btn-inverse-success btn-fw" data-toggle="modal" data-target="#exampleModal">Qo'shish</button></td>
                    <td><button type="button" class="btn btn-dark btn-fw" data-toggle="modal" data-target="#exampleModal-2">O'chirish</button></td> 
                </tr>
  
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of 57 entries</p>
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div> 
      </div>
 
    </div>
  </div>


<!-- Modal -->
<div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-white" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">So'ralgan mahsulotlar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pb-2">  
 
                      <div class="form-group   ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Hudud</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>  
                      <div class="form-group    ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Mahsulot nomi</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div> 
                      <div class="form-group    ">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Mahsulot soni</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div> 
                        <div class="form-group"> 
                        <button type="button" class="btn btn-info btn-fw m-3">Jo'natish</button>
                        <button type="button" class="btn btn-dark btn-fw m-3">O'chirish</button>
                      </div>    
        </div> 
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade  " id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-white" role="document">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h4  class="card-title    text-uppercase text-center font-weight-bold  " style="margin: 0 auto;">So'ralgan mahsulotlarni o'chirish</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pb-2">  
 
 
                        <div class="form-group"> 
                        <button type="button" class="btn btn-info btn-fw m-3">Ha</button>
                        <button type="button" class="btn btn-dark btn-fw m-3">Yo'q</button>
                      </div>    
        </div> 
      </div>
    </div>
  </div>